/* General Design */
.sidebar {
    height: 100%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-right: solid 2px #dddddd;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #000000;
}

.main {
    margin-left: 119px;
    padding: 10px 5px;
}

.header {
    font-size: 25px;
    padding: 0 15px 10px;
    color: #6d6565;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 10px;
}

.header input[type=text] {
    float: right;
    border: none;
    margin-right: 16px;
    font-size: 17px;
    color: #6d6565;
    padding: 2px;
    border: 2px solid #dddddd;
    border-radius: 5px;
}

/* Image Designs */
.container {
    display: flex;
    padding: 5px;
    margin: 15px;
}

figcaption {
    padding: 5px;
    color: #4e4c4c;
    text-align: center;
}

.disabled-link {
    pointer-events: none;
    color: #000000 !important;
}

img {
    border-radius: 5px;
    transition: transform .1s;
}

img:hover {
    transform: scale(1.05);
}

.body {
    padding: 0 15px;
}