* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 15%;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.nav-links li {
    padding: 0px 20px;
}

.nav-links li a {
    color: white;
}

.nav-links li a:hover {
    color: #b2b5b5;
}

.button {
    padding: 9px 25px;
    border-radius: 15px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: #9b9d9d;
}

.block {
    text-align: center;
    height: 90vh;
}

.explore-block {
    min-height: 920px;
}

.white-block {
    text-align: center;
    background-color: white;
    color: black;
    min-height: 100vh;;
}

.headline {
    padding: 13% 10% 30px 10%;
}

.down img {
    width: 50px;
    cursor: pointer;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% { opacity: 1 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
}

.tabs {
    padding: 50px 0 5px 0;
    background-color: white;
    color: black;
}

.tab {
    padding: 5px 20px 5px 20px;
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
    transition: all 0.3s ease 0s;
}

.tab:hover {
    background-color: #e2e2e2;
}

.search {
    padding: 5px 30px 5px 30px;
    background-color: white;
    color: black;
    border: 0;
    border-bottom: 1px solid black;
    transition: all 0.3s ease 0s;
}

.search:focus {
    background-color: #e2e2e2;
    outline: none !important;
}

.images {
    background-color: white;
}

.images img {
    margin: 20px;
    padding: 10px;
    width: 500px;
    background-color: white;
    border-radius: 15px;
    
}